@import 'tailwindcss';

:root,
body,
#root {
  min-height: 100%;
  height: auto;
}

:root {
  font-size: 24px;
}

@theme {
  --color-primary: #4039a3;
  --color-primary-grey: #f0f0f2;
  --color-primary-text-grey: #b2b2b8;
}
